a {
    text-decoration: none;
}

* {
    outline: none;
}

/* nav part start */

.menu_bg {
    position: absolute;
    width: 100%;
}


.menu_bg ul li a {
    color: black !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

.menu_bg ul li:hover a {
    color: darkslategray !important;
}

.hire a {
    color: black;
    padding: 7px 8px;
    border: 2px solid slategray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
    margin-right: 6px;
}

.hire a:hover {
    background-color: slategray;
    color: white;
}

.hire1 a {
    color: black;
    padding: 7px 8px;
    border: 2px solid slategray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
}

.hire1 a:hover {
    background-color: slategray;
    color: white;
}

/* nav part end */

/* banner part start */

#banner {
    padding: 100px 0;

}

.banner_right img {
    margin-top: 80px;
}

.banner_left h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400px;
    color: slategray;
    padding-top: 210px;
    padding-left: 150px;
}

.banner_left h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 500px;
    padding-left: 150px;
}

.banner_left p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500px;
    color: slategray;
    padding-left: 150px;
}

.dl h3 {
    font-size: 90px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgba(24, 24, 24, 0.15);
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    left: -50px;
    top: 150px;
    transform: rotate(180deg);
    letter-spacing: 15px;
}

.banner_left a {
    color: black;
    padding: 7px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
    margin-left: 150px;
    background-color: rgb(189, 200, 210);
    border: 1px solid slategrey;
}

.fd img {
    opacity: 0;
}

/* banner part end */

/* responsive part start */

@media(max-width:575px) {

    .menu_bg img {
        height: 20px;
    }
        .mainDiv {
            background: aliceblue;
            text-align: center;
            max-width: 441px;
            /* display: ; */
            margin: auto 60px;
 }
   .hire1 a{
    display: block;
    justify-content: end;
    background: blue;
   }

   .hire{

    margin-bottom: 9px;
    
    margin-left: auto;
    
   }
   .hire a {
       border: 0 !important;
       background: transparent !important;
       
   }
   .hire a:hover{
    color: black;
   }
  .hire1 {
      margin-bottom: 10px;
      margin-left: auto;
      padding-right: 7px;
  }
   .hire1 a {
       border: 0 !important;
       background: transparent !important;
       
   }
.hire1 a:hover{
   
    color: black;
    
}
.menu_bg ul li a {
    
    margin-right: 16px;
}



    /* .menu_bg ul li a {
   background-color: slategrey;
   text-align: center;
  
} */
    /* .menu_bg ul li a:hover {
        color: white !important;
    } */

    /* .menu_bg .hire {
        background-color: slategrey;
        text-align: center;
        padding: 20px 0;
        margin-top: -20px;

    } */

    /* .menu_bg .hire1 {
        background-color: slategrey;
        text-align: center;
        height: 40px;

    } */


    .banner_left h5 {
        padding-top: 70px;
        padding-left: 60px;
        font-size: 20px;
    }

    .banner_right img {
        padding-top: 130px;
    }

    .fd img {
        opacity: 1;
    }

    .dl h3 {
        font-size: 40px;
        left: -40px;
    }

    .banner_left h4 {
        font-size: 25px;
        padding-left: 60px;
    }

    .banner_left p {
        font-size: 15px;
        padding-left: 60px;
    }

    .banner_left a {
        font-size: 10px;
        margin-left: 60px;
    }

}

@media(min-width:576px) and (min-width:767px) {
    .fd img {
        opacity: 1;
    }
}

@media(min-width:768px) and (min-width:991px) {
    .fd img {
        opacity: 1;
    }
}

@media(min-width:992px) and (min-width:1199px) {
    .fd img {
        opacity: 1;
    }
}

@media(min-width:1200px) and (min-width:1399px) {
    .fd img {
        opacity: 1;
    }
}

@media(min-width:1400px) {
    .fd img {
        opacity: 1;
    }
}

/* responsive part end */